@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <a href="/" class=" text-decoration-none"><h4 class="text-white">English Level Assessment</h4></a>
            <div>
                <AuthorizeView>
                    <Authorized>
                        <a href="/results" class="link-light">Results</a>
                        <a href="/login" class="link-light">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login" class="link-light">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>



