@inject AuthenticationStateProvider authenticationStateProvider
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EnglishLevelAssessment</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <AuthorizeView>
    <Authorized>
    <h1>Welcome, @context.User.Identity.Name!</h1>
    <!-- Content for authorized users -->
</Authorized>
<NotAuthorized>
    <h1>Unauthorized</h1>
    <!-- Content for unauthorized users -->
</NotAuthorized>
</AuthorizeView>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <CascadingAuthenticationState>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="charts">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Charts
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        </CascadingAuthenticationState>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin login
            </NavLink>
        </div>
    </nav>
</div>

@code
{
    private AuthenticationState authenticationState;
    protected override async Task OnInitializedAsync()
    {
        authenticationState = await authenticationStateProvider.GetAuthenticationStateAsync();
        StateHasChanged();
    }
}

